/* /////////////////////////////////////
// TABLE OF CONTENTS
////////////////////////////////////////

- VARIABLES
- GLOBAL STYLES
- RESPONSIVE

///////////////////////////////////// */


/* /////////////////////////////////////
// VARIABLES
///////////////////////////////////// */



/* /////////////////////////////////////
// GLOBAL STYLES
///////////////////////////////////// */

*, *:before, *:after {
-webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
        box-sizing:border-box;
}

body{

}

a{

}

nav ul{
list-style:none;
.spacing(0, 0);
}


/* /////////////////////////////////////
// RESPONSIVE
///////////////////////////////////// */

@import 'responsive.less';
