.size(@width, @height){
width:@width;
height:@height;
}

.drop-shadow(@shadow){
-webkit-box-shadow:@shadow;
   -moz-box-shadow:@shadow;
        box-shadow:@shadow;
}

.inner-shadow(@shadow){
-webkit-box-shadow:inset @shadow;
   -moz-box-shadow:inset @shadow;
        box-shadow:inset @shadow;
}