/* /////////////////////////////////////
// TABLE OF CONTENTS
////////////////////////////////////////

- LAYOUT MIXINS
- TEXT MIXINS
- SHADOW MIXINS
- ANIMATION MIXINS

///////////////////////////////////// */


/* /////////////////////////////////////
// LAYOUT MIXINS
///////////////////////////////////// */

.clear {
	*zoom: 1;

	&:before, &:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

.size(@width, @height: auto) {
	width: @width;
	height: @height;
}

.spacing(@margin, @padding) {
	margin: @margin;
	padding: @padding;
}

/**
 * ----------------------------
 * SETS THE POSITION PROPERTIES
 * ----------------------------
 * Set @pos to relative, absolute, fixed, or inherit (default: relative)
 * Set @coordinates to top right bottom left (default: auto)
 * Set @z to the z-index (default: 1)
 *
 * EXAMPLE
 * .pos(absolute, 20px 20px 20px auto, 2)
 *
 * OUTPUT
 * position: absolute; top: 20px; right: 20px; bottom: 20px; left: auto; z-index: 2;
 */
.pos(@pos: relative, @coordinates: auto, @z: 1) {
	position: @pos;
	z-index: @z;

	@sides: top, right, bottom, left;

	.pos-loop(@index) when (@index > 0) {
		@property: extract(@sides, @index);
		@{property}: extract(@coordinates, @index);

		.pos-loop(@index - 1);
	}
	.pos-loop(0) {}

	.pos-loop(length(@coordinates));
}


/* /////////////////////////////////////
// TEXT HELPERS
///////////////////////////////////// */

.font-face(@family-name, @font-path, @font-weight: normal, @font-style: normal) {
	@font-face {
		font-family: @family-name;
		src: url('@{font-path}.eot');
		src: url('@{font-path}.eot?#iefix') format('embedded-opentype'),
		     url('@{font-path}.woff') format('woff'),
		     url('@{font-path}.ttf') format('truetype');
		font-weight: @font-weight;
		font-style: @font-style;
	}
}

.navigation() {
	.spacing(0, 0);
	list-style:none;
}

.hide-text {
	border: 0;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	background-color: transparent;
}

.placeholder(@color) {
	&::-webkit-input-placeholder { color: @color; }
	          &:-moz-placeholder { color: @color; }
	         &::-moz-placeholder { color: @color; }
	     &:-ms-input-placeholder { color: @color; }
}


/* /////////////////////////////////////
// DESIGN EFFECTS
///////////////////////////////////// */

#gradient {
	.horizontal(@left, @right, @fallback: @left) {
		background-color: @fallback;
		background: linear-gradient(to right, @left, @right);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@left', endColorstr='@right', GradientType=1 );
	}

	.vertical(@top, @bottom, @fallback: @top) {
		background-color: @fallback;
		background: linear-gradient(to bottom, @top, @bottom);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@top', endColorstr='@bottom', GradientType=0 );
	}
}


/* /////////////////////////////////////
// ANIMATION
///////////////////////////////////// */

.transition(@speed: 0.25s, @transition: all ease) {
	transition: @transition @speed;
}
