/* /////////////////////////////////////
// TABLE OF CONTENTS
////////////////////////////////////////

- VARIABLES
- CONTAINER
- ROW & COLUMN
- DISPLAY MIXINS

///////////////////////////////////// */


/* /////////////////////////////////////
// VARIABLES
///////////////////////////////////// */

@columns: 12;
@gutter-width: 15px;
@include-gutters: true;

@width-mobile:  320px;
@width-tablet:  660px;
@width-desktop: 960px;


/* /////////////////////////////////////
// CONTAINER
///////////////////////////////////// */

.container {
    margin: 0 auto;
    width: @width-mobile;

    @media screen and (min-width: @width-tablet) {
        width: @width-tablet;
    }

    @media screen and (min-width: @width-desktop) {
        width: @width-desktop;
    }
}


/* /////////////////////////////////////
// ROWS & COLUMNS
///////////////////////////////////// */

.row() {
    .clear;
}

.col(@span, @device: mobile, @gutter: @include-gutters) when (@gutter = true) {
    padding-right:@gutter-width;
    padding-left:@gutter-width;
}

.col(@span, @device: mobile, @gutter: @include-gutters) {
    .border-box;
    float: left;
}

.col(@span, @device: mobile, @gutter: @include-gutters) when (@device = mobile) {
    width: (100% * @span / @columns);
}

.col(@span, @device: mobile, @gutter: @include-gutters) when (@device = tablet) {
    @media screen and (min-width: @width-tablet) {
        width: (100% * @span / @columns);
    }
}

.col(@span, @device: mobile, @gutter: @include-gutters) when (@device = desktop) {
    @media screen and (min-width: @width-desktop) {
        width: (100% * @span / @columns);
    }
}


.push(@span, @device: mobile) when (@device = mobile) {
    margin-left: (100% * @span / @columns);
}

.push(@span, @device: mobile) when (@device = tablet) {
    @media screen and (min-width: @width-tablet) {
        margin-left: (100% * @span / @columns);
    }
}

.push(@span, @device: mobile) when (@device = desktop) {
    @media screen and (min-width: @width-desktop) {
        margin-left: (100% * @span / @columns);
    }
}


/* /////////////////////////////////////
// DISPLAY MIXINS
///////////////////////////////////// */

.hide(@device: all) when (@device = all) {
    display: none;
}

.hide(@device: all) when (@device = mobile) {
    @media screen and (max-width: @width-tablet) {
        display: none;
    }
}

.hide(@device: all) when (@device = tablet) {
    @media screen and (min-width: @width-tablet) and (max-width: @width-desktop) {
        display: none;
    }
}

.hide(@device: all) when (@device = desktop) {
    @media screen and (min-width: @width-desktop) {
        display: none;
    }
}
